body{
    background-color: gray;
}

 .user-post{
    background-color: white;
    margin: 150px;
    border-radius: 10px;
    border: 1px solid white;
   
   
 }

 .user-info{
    margin-top: 20PX;
    display: flex;
     justify-content: center;
 }
 .user-img{
    
     
    border-radius: 55%;
    width: 55%;
     border:2px solid black ;
     
 }
 .post-content{
    padding-top: 15px;
    display: flex;
    justify-content: center;
 }
 .post-image{
    padding-left: 25%;
    border: 3px solid gray;
 }
 .reaction-post{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family:   monospace;
 
 }
   
